#particles-js {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 20%;
  -moz-background-size: 20%;
  background-size: 20%;
  background-position: 50% 50%;
  background: #38658c;
  background: -webkit-radial-gradient(top left, #5d3571, #38658c);
  background: -moz-radial-gradient(top left, #5d3571, #38658c);
  background: -o-radial-gradient(top left, #5d3571, #38658c);
  background: -ms-radial-gradient(top left, #5d3571, #38658c);
  background: radial-gradient(to bottom right, #5d3571, #38658c);
}