
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  max-width: 500px;
  background: #59a0b0;
}

#particles-js {
	position: relative;
	width: 100%;
	height: 200px;
	max-width: none;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 20%;
  -moz-background-size: 20%;
  background-size: 20%;
  background-position: 50% 50%;
  background: #38658c;
  background: -webkit-radial-gradient(top left, #5d3571, #38658c);
  background: -moz-radial-gradient(top left, #5d3571, #38658c);
  background: -o-radial-gradient(top left, #5d3571, #38658c);
  background: -ms-radial-gradient(top left, #5d3571, #38658c);
  background: radial-gradient(to bottom right, #5d3571, #38658c);
}