#
###################################
# Site wide configuration
####################################
#
title: Cyrill
email: lichunyang@outlook.com
description: A simple and awesome blog theme powered by jekyll.
url: https://CoderCYLee.github.io # the base hostname & protocol for your site


#
###################################
# Jekyll configuration
####################################
#
markdown:          kramdown
highlighter:       rouge
excerpt_separator: <!--more-->

sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  enable_coderay: false

permalink: /:year/:month/:day/:title

#
###################################
# Site Owner configuration
####################################
#
owner:
  name: Cyrill
  avatar: leonids-logo.png
  job: "A jekyll theme"
  bio: "A simple and awesome blog theme powered by jekyll."
  email: lichunyang@outlook.com
  disqus-shortname:
  twitter: #username
  facebook: #username
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:
  github: #username
  stackoverflow: #123456/username   from a "http://stackoverflow.com/users/123456/username" link
  linkedin: #username
  xing: #username
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username
  500px: #username
  codepen: #username
