---
layout: default
---

<a class="btn" href= "{{ site.url }}/" >
  Home
</a>
{% if page.image.feature %}
<div class="post-image-feature">
  <img class="feature-image" src=
  {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
  "{{ page.image.feature }}"
  {% else %}
  "{{ site.url }}/img/{{ page.image.feature }}"
  {% endif %}
  alt="{{ page.title }} feature image">

  {% if page.image.credit %}
  <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
</div><!-- /.image-wrap -->
{% endif %}


<div id="post">
  <header class="post-header">
    <h1 title="{{ page.title }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" | upcase }}
      </span>
      •
      {% include read_time.html %}
    </span>

  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>


{% if page.comments == true %}
<!-- {% include disqus.html %} -->

<!--这里使用了gitment，感谢-->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        id: '<%= page.date %>',
        owner: 'cywd',
        repo: 'cywd.github.io',
        oauth: {
            client_id: 'eea37193acb231476066',
            client_secret: 'b06ec9125454c7efc2ef9a81389aac65ddebf37c',
        },
    })
    gitment.render('container')
</script>

{% endif %}


{% if site.related_posts.size > 0 %}
<div class="related-articles">
<h4>You might also enjoy</h4>
  <ul>
  {% for post in site.related_posts limit:3 %}
    <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</div><!-- /.related-articles -->
{% endif %}

<!--
{% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %}
{% endif %}
 -->
